{% extends 'stocktracker/base.html' %}
{% load tags %}
{% block content %}
  	<h1>Stock Tracker</h1>
  	<p>{{ yo }}</p>
	<form action="{% url 'search_results' %}" method='get' id='search_stocks'>
		<input name='ticker' type='text' placeholder='Enter a ticker...'>
		<button type='submit' value='Submit'>Search Tickers</button>
	</form>
  	{% for stock_portfolio in portfolio|get_all_portfolios %}
  		<h2>Portfolio: <a href="{% url 'portfolio-detail' stock_portfolio.id %}" target='_blank'>{{ stock_portfolio.portfolio_name }}</a></h2>
  		<h3>Author: {{ stock_portfolio.author }}</h3> <!-- Add link -->
		{% for stock in stock_portfolio|stocks_from_portfolio %}
		<article class="media content-section">
			<div class="media-body">
			    <div class="article-metadata"> 
				<!-- Change from link to yahoo finance to link for individual stock page w/ due diligence -->
			    <h3 class="article-title mr-2"><a href="https://finance.yahoo.com/quote/{{ stock.stock_ticker }}" target='_blank'>{{ stock.stock_ticker }}</a> Current Price: ${{ stock.current_price|floatformat:2 }}</h3>
				<p class="article-content" style='font-size: 18px; line-height: 20px'>Current Percentage: {% if stock.current_percentage >= 0 %}
					<span style='color: green'>{{ stock.current_percentage|floatformat:2 }}%</span> 
				{% else %}
					<span style='color: red'>{{ stock.current_percentage|floatformat:2 }}%</span> 
				{% endif %}
				<span>High Percentage: </span> {% if stock.high_percentage >= 0 %}		    
					<span style='color: green'>{{ stock.high_percentage|floatformat:2 }}%</span> 
				{% else %}
					<span style='color: red'>{{ stock.high_percentage|floatformat:2 }}%</span> 
				{% endif %}
				<span>Low Percentage: </span> {% if stock.low_percentage >= 0 %}		    
					<span style='color: green'>{{ stock.low_percentage|floatformat:2 }}%</span> 
				{% else %}
					<span style='color: red'>{{ stock.low_percentage|floatformat:2 }}%</span> 
				{% endif %}
					</p>  
			    </div>
	    	</div>
		</article>
		{% endfor %}
	{% endfor %}
{% endblock content %}