<!-- DO the thing where .com/search?=yo -->
{% extends 'stocktracker/base.html' %}
{% load tags %}
{% block content %}
    <a href='https://finance.yahoo.com/quote/{{ object.ticker}}' target='_blank'><h1>{{ object.ticker }}</h1></a> <!-- _blank opens up a new table when clicking on link -->
    <!-- ETF's -->
    <table>
            <tr>
                {% for df in object|stock_due_diligence %}
                    {% for label in df|df_values %}
                        <th>{{ label }}</th>
                    {% endfor %}
                     {% for rows in df|df_to_iter %}
                     <tr>
                        {% for row in rows %}
                       <td>{{ row }}</td> 
                        {% endfor %}
                     </tr>   
                    {% endfor %}
                {% endfor %}
            </tr>
    </table>
{% endblock content %}

